---
import LogoMark from '~/components/LogoMark.astro';
---

<span class="flex items-center text-bond-navy dark:text-sky-400">
  <LogoMark class="h-8 w-8 md:h-9 md:w-9" />
  <span class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-2xl font-bold whitespace-nowrap">
    ぼんど
  </span>
</span>
